<Context>
	<Resource
		name="jdbc/db"
		auth="Container"
		type="javax.sql.DataSource"
		username="{{username}}"
		password="{{password}}"
		driverClassName="com.mysql.jdbc.Driver"
		url="{{url}}"
		maxActive="15"
		maxIdle="3" />
</Context>